---
layout: default
title: Documentation
---

<div id="home">
<iframe src="//player.vimeo.com/video/75312418" width="640" height="460" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p></p>
  
  <h2>Last Continuity Breach: ~2014.1.6 </h2>
  <hr/>
  <p> A continuity breach occurs when the entire Urbit network gets recreated &mdash; this will not happen in real life! All ships and piers prior to the breach will no longer work with the new network. </p>
  <p> 
What does this mean for the Urbit user? If you built your ships and piers before 1pm PST, January 6th (Urbit ~2014.1.6..21.00.00), do this: </p>

<ol>
  <li> git pull origin master </li>
  <li> make clean; make </li>
  <li> rm -rf $URBIT_HOME/*-* </li>
  <li> rm -rf $mypier </li>
  <li> vere -c $mypier and create your submarine/destroyer </li>
  <li> :chat to chat </li>
</ol>
  <hr/>
  <h2><i class="icon-bookmark"></i> Documentation</h2>
  <ul id="blog-posts" class="posts">
{% for post in site.posts reversed %}
  {% if post.categories contains 'doc' %}
    <div class="post">
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
     </div>
  {% endif %}
{% endfor %}
  </ul>
</div>
