.sidebar-about {
	height: 3rem;
}

.sidebar-about h1 {
	font-size: 1rem;
	font-weight: 500;
	display: inline-block
}

.sidebar-about > a:focus,
.sidebar-about > a:hover {
	border: none;
	text-decoration: none;
}

.sidebar-about h1.title {
	border-bottom: 3px solid transparent;
}

.sidebar-about h1.logo {
	margin-top: .6rem;
	margin-right: .6rem;
	margin-left: -2rem;
	margin-bottom: 0;
	height: 1rem;
	float: left;
}

@media only screen and (max-width: 500px) {
	.sidebar-about h1.logo {
		margin-left: 0;
	}
}

img.logo {
	width: 1.2rem;
	height: 1.2rem;
}

.sidebar-about p.lead {
	font-size: .8rem;
	font-weight: normal;
}

.sidebar-nav {
	margin: 0;
	padding: 0;
}

.sidebar-nav li > a {
	border: none;
	border-bottom: 3px solid #fff;	
}

.sidebar-about h1.title:focus,
.sidebar-about h1.title:hover,
.sidebar-nav li > a.active,
.sidebar-nav li > a:focus,
.sidebar-nav li > a:hover {
	text-decoration: none;
	border-bottom: 3px solid #555;	
}

.sidebar-about > a > img {
	width: 30px;
}

.sidebar-nav-item {
	display: inline-block;
	min-width: 13rem;
	font-size: 1rem;
}

.footer {
	margin-bottom: 4rem;
}

.footer .sidebar-nav-item {
	margin-top: 4rem;
}

ul,ol {
	padding-left: 2rem;
}

ul {
	list-style-type: circle;
}

ul.chat {
	list-style-type: none;
}

.doc-hoon h2 {
	margin-top: 3rem;
}

.documentation > ul {
	list-style-type: none;
	padding-left: 0;
	float: left;
}

.documentation ul > li {
	float: left;
	width: 13rem;
}

code, .subnav > ul > li > ul {
	font-family: "Menlo", "Courier New", courier, monospace;
	color: inherit;
}

.subnav > ul > li > ul {
	font-size: .9rem;
	overflow: hidden;
	height: 0;
}

.subnav > ul > li.active > ul {
	overflow: visible;
	height: auto;
}

.subnav > ul > li .section {
	display: inline-block;
}

.subnav > ul > li .expand {
	font-size: .6rem;
	border: 0;
}

.subnav > ul > li .expand:after {
	content: "\25B6";
}

.subnav > ul > li.active .expand:after {
	content: "\25BC";
}

.subnav, .subnav  ul {
	list-style-type: none;
	padding: 0;
}

.subnav {
	font-size: .8rem;
}

.subnav a {
	margin-bottom: .5rem;
}

.subnav a.active {
	font-size: 1rem;
	font-weight: 700;
	color: #333;
	border-bottom: 2px solid #555;	
}