<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/">
        <h1 class="logo"><img src="/logo.png" class="logo"/></h1>
        <h1 class="title">{{ site.title }}, {{ site.description }}</h1>
      </a>
    </div>

    <ul class="sidebar-nav">
    {% for _page in site.axis.root %}
      <li class="sidebar-nav-item">
        <a href="{{ _page.url }}" class="{% if page.url contains _page.url %} active{% endif %}">{{ _page.title }}</a>
      </li>
    {% endfor %}
    </ul>
    
  </div>
</div>
