<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/">
        <img src="/public/urbit_logo_ur.svg">
      </a>
      <br>
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">

    {% for page in site.axis.root %}
      <li class="sidebar-nav-item{% if page.url == page.url %} active{% endif %}">
        <a href="{{ page.url }}">{{ page.title }}</a>
      </li>
    {% endfor %}

    </ul>
    <p>urbit@urbit.org</p>
  </div>
</div>
