---
layout: default
---

<div class="subpage">

<ul class="subnav">
{% for _page in site.axis[page.axis] %}
{% if _page.categories contains page.categories %}
<li>
	<a href="{{ _page.url }}" class="{% if page.url contains _page.url %}active{% endif %}">{{ _page.title }}</a>
</li>
{% endif %}
{% endfor %}
</ul>

  {{ content }}

<ul class="subnav" style="margin-top: 2rem">
{% for _page in site.axis[page.axis] %}
{% if _page.categories contains page.categories %}
<li>
	<a href="{{ _page.url }}" class="{% if page.url contains _page.url %}active{% endif %}">{{ _page.title }}</a>
</li>
{% endif %}
{% endfor %}
</ul>

</div>